
<!DOCTYPE html>
<html>
<head>
    <title>Log In Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link rel="stylesheet" href="../assets/css/material-dashboard.css">
    <link rel="stylesheet" href="../css/logInError.css"/>
</head>
<body>
<div class="continer d-flex justify-content-center " id="containerForm">

    <div class="card">
        <div class="card-header">
            <h1>ERROR 404 </h1>
        </div>
        <div class="card-body">
            <p>La pagina a la que intenta acceder ha sido borrada o no existe</p>
            <a href="/categories">Volver a intentar</a>
        </div>

    </div>
</div>

</body>
</html>