<mat-card>
    <mat-card-title>Categorias</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="categories">
                <h3 mat-line>{{category.nameCategory}}</h3>
                <h3 mat-line>
                    <a mat-button [routerLink]="['/{nameCategory}', category.id]">{{category.nameCategory}}</a>
                </h3>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <button mat-fab color="primary" [routerLink]="['/']">Add</button>
</mat-card>