.containerEvents {
    width: 1200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.nextEvent{
    color: white;
}

#butNextEvents{
    width: 50px;
    text-align: center;
}

.containerEvents input#search {
    width: 300px;
    height: 50px;
    background: grease;
    border: none;
    font-size: 10pt;
    float: left;
    color: aqua;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.containerEvents input#search::-webkit-input-placeholder {
    color: #65737e;
}



.containerEvents input#search:-ms-input-placeholder {
    color: #65737e;
}

.containerEvents .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: white;
}

.containerTableEvents {
    width: 1200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float: left;
}

.tableEvents {
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

#deleteBin{
	background-color:#C80000 !important;
	border-color:#C80000 !important;
	box-shadow:none;
	border-radius:10px;
	padding:5px;
	margin-left: 10px;
}
#deleteBin i{
	padding-top: 5px;
}
#tableHead{
	font-size: 20px;
	color:#BE6245;
	font-weight: bold;
}
#searchBtn{
	background-color:#C80000 !important;
	border-color:#C80000 !important;
}
.text-right{
	padding-right: 60px !important;
	width:10%;
}
#addBtn{
	margin-left: 47px;
}
#searchBox{
	margin-left: 25px;
}