#cardCategory{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: #FFD9CD !important;
font-size:25px;
margin-left: 250px;
border-radius:10px;
}
#cardCategory td{
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom:solid;
	border-color:#ffbfaa;
	margin: 0.50rem;
	color:#BE6245;
	text-align: center;
}
#delete{
	margin-bottom: 0rem;
}
#categoryIconDelete{
	padding-top: 5px;
}
#categoryAdd{
	margin-left:20%;
	
}