#navBar {
    background-color: #377075 !important;
    box-shadow: none;
}

#navBarCollap {
    padding-left: 0px;
}

#navBarContainer {
    margin-left: 0px;
    padding-left: 0px;
}

body {
    background-color: #AED4D7;
}

#cardInterv {
    width: 20rem;
    background-color: aqua;
}

.active {
    background-color: #89AEB1;
}

#categoryIcon {
    font-size: 1.1rem;
    padding-top: 5px;
}

#categoryButton {
    height: 2.1rem;
    width: 2.1rem;
}

#categoryButtonAdd {
    height: 2.1rem;
    width: 2.1rem;
    padding: 5px;
}
