body{
background-color: #FFEFEA !important;
}

.card{
height: 180px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #FFD9CD !important;
box-shadow: 15px 0px 15px #BE6245;
 
}
.card-body  {
	font-size: 20px;

}
.card-body p{
	color: #BE6245;
	line-height: 1.5;
}
.card-header h1{
color: #BE6245 ;
}
.card-body a{
	color: purple;
	text-decoration: underline;
}
#containerForm{
	margin-top: 15rem;
}