#navBar {
    background-color: #377075 !important;
}

#navBarCollap {
    padding-left: 0px;
}

#navBarContainer {
    margin-left: 0px;
    padding-left: 0px;
}

body {
    background-color: #AED4D7;
}

#cardInterv {
    width: 20rem;
    background-color: aqua;
}

.active {
    background-color: #89AEB1;
}
