<div *ngIf="category">
  <mat-card>
    <mat-card-title> Category "{{ category.nameCategory }}"</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form #categoryForm="ngForm">
        <div *ngIf="category.id"><label>Id: </label>{{ category.id }}</div>
        <div>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="category.nameCategory"
              placeholder="Nombre de la categoria"
              #categoryFormComponent
              #categoryFormControl="ngModel"
              name="name"
              required
            />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div layout="row" layout-align="end center">
        <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
        <button
          mat-raised-button
          color="accent"
          (click)="save()"
          [disabled]="categoryForm === undefined || (categoryForm && !categoryForm.valid)"
          class="push-left-sm"
        >
          Save
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
