<mat-card>
  <mat-card-title>
    <div layout="row" layout-align="start center">
      <span flex>Lista de Categorias</span>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <mat-nav-list *ngIf="loginService.isLogged">
        <a *ngFor="let category of categories" mat-list-item [routerLink]="['/category', category.id]">
          {{ category.nameCategory }}
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!loginService.isLogged">
        <mat-list-item [ngStyle]="{ cursor: 'auto' }" *ngFor="let category of categories">
          {{ category.nameCategory }}
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div layout="column" layout-align="center end" *ngIf="loginService.isLogged && loginService.isAdmin">
      <mat-divider inset="true"></mat-divider>
      <button mat-raised-button color="accent" class="push-top-sm" *ngIf="loginService.isLogged" (click)="newCategory()">
        <mat-icon>add</mat-icon> New
      </button>
    </div>
  </mat-card-content>
</mat-card>
